.root {
 margin-left: 30px;
  li {
    display: inline-block;

 


    a {
      
      color: #fe5f1e;
      height: 45px;
      width: 45px;
      display: inline-block;
      text-align: center;
      line-height: 42px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
     
      &:hover{
        background-color: #fe5f1e;
        color: #FFF;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #FFF;
      }
    }
  }

}